:root {
  --color-primary-10: #caf0f8;
  --color-primary-20: #ade8f4;
  --color-primary-30: #90e0ef;
  --color-primary-40: #48cae4;
  --color-primary-50: #00b4d8;
  --color-primary-60: #0096c7;
  --color-primary-70: #0077b6;
  --color-primary-80: #023e8a;
  --color-primary-90: #03045e;
}
